@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 8px;
  margin-right: auto;
  margin-left: auto;

  .title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    letter-spacing: -0.018em;
  }

  .searchForm {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.018em;
    background-color: #ffffff;
    border-radius: 42px;

    .inputBox {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      padding: 20px 24px;
      font-size: 1.125rem;
      font-weight: 700;
      letter-spacing: -0.018em;

      input {
        flex: 1;
        padding-left: 10px;

        .highLight {
          font-weight: bold;
        }
      }
    }

    .searchButton {
      padding: 18px 32px;
      font-size: 1.125rem;
      font-weight: 700;
      color: #ffffff;
      letter-spacing: -0.018em;
      cursor: pointer;
      background-color: #007be9;
      border-width: 0;
      border-top-right-radius: 42px;
      border-bottom-right-radius: 42px;
    }
  }
}

//@include responsive.after(MD) { }
