@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/responsive';

.layoutContainer {
  min-width: 600px;
  background-color: colors.$BACKGROUND;

  .main {
    max-width: 700px;
    height: 100%;
    min-height: 100vh;
    padding: 100px 20px;
    margin: 0 auto;
  }

  .footer {
    padding: 20px;
    background-color: colors.$FOOTERBACKGROUND;
  }
}

@include responsive.after(MD) {
  .layoutContainer {
    .main {
      padding: 100px 0;
    }

    .footer {
      padding: 20px 0;
    }
  }
}
