@use '/src/styles/constants/colors';

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.018em;
  cursor: pointer;

  svg {
    margin-right: 10px;
  }
}

.selectedItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.018em;
  cursor: pointer;
  background-color: colors.$BACKGROUND;

  svg {
    margin-right: 10px;
  }
}
