@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.headerContainer {
  width: 100%;
  height: 65px;
  background-color: colors.$WHITE;

  .headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }

  ul {
    display: flex;

    li {
      padding: 0 5px;
      text-align: center;

      a {
        font-size: 14px;
        font-weight: 400;
        color: colors.$NAVTEXT;
        text-decoration: none;
        letter-spacing: -0.018em;
        white-space: nowrap;
      }

      .isActive {
        text-decoration: underline;
        text-decoration-color: colors.$NAVTEXT;
        text-underline-position: under;
      }
    }
  }
}

@include responsive.after(SD) {
  .headerContainer {
    ul {
      li {
        padding: 0 10px;

        a {
          font-size: 18px;
        }
      }
    }
  }
}

@include responsive.after(MD) {
  .headerContainer {
    .headerWrapper {
      width: 1000px;
      padding: 0;
    }
  }
}
