@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  .resultBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 220px;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    color: colors.$RESULTTITLE;
    text-align: center;
    letter-spacing: -0.018em;
    background-color: colors.$WHITE;
    border-radius: 20px;

    svg {
      margin-right: 10px;
    }

    .mark {
      font-weight: 800;
    }
  }
}

@include responsive.after(MD) {
  .resultContainer {
    max-width: 700px;
  }
}
